/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-image: url('download.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    color: #e8e2e2;
  }
  
  header, footer {
    background-color: rgba(4, 5, 3, 0.8);
    padding: 10px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
    font-size: 2rem;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #ed0e3b;
    font-weight: bold;
  }
  
  main {
    padding: 20px;
    background-color: rgba(244, 0, 0, 0.85);
    margin: 20px auto;
    max-width: 800px;
    border-radius: 8px;
  }
  
  section h2 {
    color: #12f006;
  }
  
  footer {
    font-size: 0.8em;
    margin-top: 20px;
  }  
